﻿@model CoreMVC.Models.Product

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br /> <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br /> <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br /><div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" asp-items="ViewBag.Categories"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="ImageUrl">Image</label>
                <input type="file" asp-for="ImageUrl" class="form-control" />
            </div>
            <div class="form-group">
                <label>Additional Images</label>
                <input type="file" asp-for="Images" multiple class="form-control" />
            </div>

            <br /> <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về danh sách sản phẩm</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
