﻿@model CoreMVC.Models.Product

@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" width="100px" />
        </dd>
        <dt class="col-sm-2">
            Different images
        </dt>
        <dd class="col-sm-10">
            @if (ViewBag.Images != null)
            {
                @foreach (var imageUrl in ViewBag.Images)
                {
                    <img src="imageUrl" alt="Product Image" />
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Category
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Trở về danh sách sản phẩm</a>
</div>
